.form-signin
	%h2.form-signin-heading
		Please sign in
	%input{type: "text", placeholder: "Email address", class: "input-block-level"}
	%input{type: "text", placeholder: "Password", class: "input-block-level"}
	%input{type: "button", class: "btn btn-large btn-primary", value: "Sign in"}