.row
	.span3
		.search-bar
			Movie List
.row
	.span3
		%ul.movie-list
			%li
				.thumbnail
					%a{href: "https://www.youtube.com/watch?v=wKbjVvH7agw&playnext=1&list=PLA4165B02F1DE9C99&feature=results_main"}
						Song1
			%li
				.thumbnail
					%a{href: "https://www.youtube.com/watch?v=q_d_kwsehT4"}
						Song2
			%li
				.thumbnail
					%a{href: "https://www.youtube.com/watch?v=Qnmhak3OoVQ"}
						Song3