= content_for :search do
	.search
		.container
			.row
				.span12
					%input{type: "text", placeholder: "Search musics", style: "margin-top: 8px;", class: "span4"}
					%input{type: "button", value: "Search", class: "btn btn-primary", style: "margin-top: -1px;"}